@font-face {
    font-family: "Shaping Art Flaticon";
    src: url("./shapingart-flaticon.eot");
    src: url("./shapingart-flaticon.eot#iefix") format("embedded-opentype"),
    url("./shapingart-flaticon.woff") format("woff"),
    url("./shapingart-flaticon.ttf") format("truetype"),
    url("./shapingart-flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Catchall baseclass */

.shpart-fl {
    font-family: "Shaping Art Flaticon";
    font-size: 18px;
    font-style: normal;
    /*margin-left: 20px;*/
}

.shpart-fl-add121:before { content: "\f100"; }
.shpart-fl-add52:before { content: "\f101"; }
.shpart-fl-apartment:before { content: "\f102"; }
.shpart-fl-arrow395:before { content: "\f103"; }
.shpart-fl-arrow398:before { content: "\f104"; }
.shpart-fl-arrow408:before { content: "\f105"; }
.shpart-fl-arrow414:before { content: "\f106"; }
.shpart-fl-binoculars9:before { content: "\f107"; }
.shpart-fl-black399:before { content: "\f108"; }
.shpart-fl-blank32:before { content: "\f109"; }
.shpart-fl-bottom4:before { content: "\f10a"; }
.shpart-fl-browsers12:before { content: "\f10b"; }
.shpart-fl-building:before { content: "\f10c"; }
.shpart-fl-buy:before { content: "\f10d"; }
.shpart-fl-calendar184:before { content: "\f10e"; }
.shpart-fl-cards3:before { content: "\f10f"; }
.shpart-fl-chat25:before { content: "\f110"; }
.shpart-fl-check25:before { content: "\f111"; }
.shpart-fl-circle:before { content: "\f112"; }
.shpart-fl-circle156:before { content: "\f113"; }
.shpart-fl-circular301:before { content: "\f114"; }
.shpart-fl-close33:before { content: "\f115"; }
.shpart-fl-credit-card7:before { content: "\f116"; }
.shpart-fl-cross37:before { content: "\f117"; }
.shpart-fl-debit:before { content: "\f118"; }
.shpart-fl-disconnected2:before { content: "\f119"; }
.shpart-fl-double112:before { content: "\f11a"; }
.shpart-fl-down-arrow32:before { content: "\f11b"; }
.shpart-fl-down-arrow37:before { content: "\f11c"; }
.shpart-fl-down-arrow56:before { content: "\f11d"; }
.shpart-fl-down-arrows3:before { content: "\f11e"; }
.shpart-fl-earth53:before { content: "\f11f"; }
.shpart-fl-exclamation36:before { content: "\f120"; }
.shpart-fl-expand12:before { content: "\f121"; }
.shpart-fl-flag89:before { content: "\f122"; }
.shpart-fl-game:before { content: "\f123"; }
.shpart-fl-game-1:before { content: "\f124"; }
.shpart-fl-headphone2:before { content: "\f125"; }
.shpart-fl-inbox25:before { content: "\f126"; }
.shpart-fl-interface:before { content: "\f127"; }
.shpart-fl-internet:before { content: "\f128"; }
.shpart-fl-internet5:before { content: "\f129"; }
.shpart-fl-junk:before { content: "\f12a"; }
.shpart-fl-ladder:before { content: "\f12b"; }
.shpart-fl-letter121:before { content: "\f12c"; }
.shpart-fl-lifesaver9:before { content: "\f12d"; }
.shpart-fl-lines14:before { content: "\f12e"; }
.shpart-fl-magnifier58:before { content: "\f12f"; }
.shpart-fl-mail21:before { content: "\f130"; }
.shpart-fl-map-pointer9:before { content: "\f131"; }
.shpart-fl-message20:before { content: "\f132"; }
.shpart-fl-mobile196:before { content: "\f133"; }
.shpart-fl-money207:before { content: "\f134"; }
.shpart-fl-move13:before { content: "\f135"; }
.shpart-fl-multimedia-option148:before { content: "\f136"; }
.shpart-fl-needle:before { content: "\f137"; }
.shpart-fl-note:before { content: "\f138"; }
.shpart-fl-note37:before { content: "\f139"; }
.shpart-fl-office:before { content: "\f13a"; }
.shpart-fl-office-1:before { content: "\f13b"; }
.shpart-fl-other:before { content: "\f13c"; }
.shpart-fl-pen52:before { content: "\f13d"; }
.shpart-fl-pin67:before { content: "\f13e"; }
.shpart-fl-question20:before { content: "\f13f"; }
.shpart-fl-radio19:before { content: "\f140"; }
.shpart-fl-radio51:before { content: "\f141"; }
.shpart-fl-smart1:before { content: "\f142"; }
.shpart-fl-smartphone35:before { content: "\f143"; }
.shpart-fl-speech39:before { content: "\f144"; }
.shpart-fl-stairs:before { content: "\f145"; }
.shpart-fl-subtraction9:before { content: "\f146"; }
.shpart-fl-support:before { content: "\f147"; }
.shpart-fl-symbol:before { content: "\f148"; }
.shpart-fl-telephone114:before { content: "\f149"; }
.shpart-fl-thin16:before { content: "\f14a"; }
.shpart-fl-three132:before { content: "\f14b"; }
.shpart-fl-tool:before { content: "\f14c"; }
.shpart-fl-tool-1:before { content: "\f14d"; }
.shpart-fl-tool-2:before { content: "\f14e"; }
.shpart-fl-tool83:before { content: "\f14f"; }
.shpart-fl-tower11:before { content: "\f150"; }
.shpart-fl-two:before { content: "\f151"; }
.shpart-fl-two356:before { content: "\f152"; }
.shpart-fl-up-arrows12:before { content: "\f153"; }
.shpart-fl-user65:before { content: "\f154"; }
.shpart-fl-verify5:before { content: "\f155"; }
.shpart-fl-web:before { content: "\f156"; }
.shpart-fl-weights:before { content: "\f157"; }
.shpart-fl-work:before { content: "\f158"; }
